{% extends "index.html" %}

{% block content %}

<!--https://www.codeply.com/go/nhbdi2FkJm-->


<div class="col-md-6 mx-auto">

    <!-- form card login -->
    <div class="card rounded-0">

        <div class="card-header">
            <h3 class="mb-0">{{form_name}}</h3>
        </div>
        <div class="card-body">

            <form class="form" method="POST">
                {{ form.hidden_tag() }}


            <div class="form-group">
                {{ form.parameter_name.label }}
                {{ form.parameter_name(class_="form-control") }}

                {% if form.parameter_name.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.parameter_name.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.parameter_type.label }}
                {{ form.parameter_type(class_="form-control") }}

                {% if form.parameter_type.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.parameter_type.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

            <div class="form-group">
                {{ form.parameter_description.label }}
                {{ form.parameter_description(class_="form-control") }}

                {% if form.parameter_description.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.parameter_description.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card login -->

</div>

</div>



{% endblock %}